body{
    height: 100vh;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.calc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #363434;
    color: #fff;
    width: 500px;
    padding: 2rem;
    border-radius: 20px;
}
.calc div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-input{
    margin: 1rem 0;
}
.calc-result{
background: #fff;
padding: 16px;
width: 300px;
height: 16px;
text-align: right;
/* margin: 1rem 0; */
border-radius: 6px;
color: #000;
}

td{
    padding: 12px;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    border-radius: 8px;
    background: #6b6767;
    cursor: pointer;
}